.video-play {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.video-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 40em;
}

.screen {
    width: 100%;
    display: flex;
}

.screen-view {
    width: 100%;
    height: 70%;
}

.right-component {
    width: 30%;
}