.Resource-manage {
    font-size: 50px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.msger_chat-manage {
    background-color: #fcfcfe; height: 90vh; width: 25vw;
}

.lecture_area-course-management {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.lecture_body-course-management {
    display: flex;
    height: 100%;
    max-height: calc(100% - 100px);
}

.lecture_body-course-management .video_area-course-management {
    width: 75%;
}

.lecture_body-course-management .chat_area-course-management {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.invite-course-management-button{
    display: flex !important;
    float: right !important;
    margin: -0.6vw !important;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border-radius: 5px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger_chat-course-management {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    background-color: #fcfcfe;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg_bubble_wrap{
    flex: 1; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column
}

.msg_bubble-manage {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 15px;
    border-radius: 15px;
    background: #ececec;
    margin: 2vw;
    height: 30vh;
}

.msg_bubble-manage-second {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 15px;
    border-radius: 15px;
    background: #ececec;
    margin : 2vw;
    flex: 1;
    height: 30vh;
}

.modal-name {
    text-align: center;
    color : #55be63 !important;
    font-size: large;
}


.teacher-search-close {
    background-color: rgb(198, 35, 35) !important;
    margin-left: 1vw !important;
    width: 1vw;
}

.ask-accept {
    font-size: 12px !important;
    padding-right: 0px;
    
}

.ask-cancel {
    color : rgb(198, 35, 35) !important;
    font-size: 12px !important;
}

