* { margin: 0; padding: 0; box-sizing: border-box;}
a { text-decoration: none; color: #000;}
img { vertical-align: top;}
ol, ul, li { list-style: none;}

html, body { height: 100%;}

.Resource {

    font-size: 50px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

.file-type-label{
    font-size: 20px;
    text-align: center;
}

.search-container{
    font-size:20px;
    text-align: center;
}

.search-input{
    font-size:17px;
    text-align: center;
}

.search-button{
    font-size: 17px;
    text-align: center;
}

.file-type-dropdown{
    font-size:10px;
    text-align: center;
}

.msg_text{
    height: 450px;
    top: 20px;
}
.file-info{
    font-size:20px;
    text-align: left;
}
.download-button{
    width:30px;
    height:30px;
margin-left:250px;
margin-top:-30px;
}

.delete-button{
    width:30px;
    height:30px;
    margin-top:-30px;
}

.question {
font-size: 20px;
font-weight: bold;
color: black; /* 텍스트 색상을 원하는 색상으로 변경하세요. */
margin-top:-10px;
}

.answer{
    font-size: 15px;
    font-weight: bold;
    color:black;
}

/* 드랍다운 버튼 스타일 설정 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 드랍다운 버튼 스타일 설정 */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 5px 15px; /* 큰 크기로 조정 */
    border: none;
    cursor: pointer;
}


.dropbtn:hover {
    background-color: #2980b9;
}

/* 드랍다운 메뉴 스타일 설정 */
/* 드랍다운 메뉴 스타일 설정 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 30px; /* 드랍다운 메뉴의 너비를 조정하세요 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
/* 드랍다운 메뉴 활성화 */
.dropdown:hover .dropdown-content {
    display: block;
}
.page-number{
    margin-top: auto;
    text-align: center;
    color:black;
    font-weight: bold;
}

.icon-button img {
    width: 20px;
    height: 20px;
    float: right; /* 이미지를 오른쪽으로 정렬합니다. */
}


.icon-button {
    background: none;
    border: none;
    cursor: pointer;

}

.msg_bubble{
    margin-top: 10px;
}

.msger_send_btn{
    height: auto;
    width: auto;
    margin-right:auto;
}

.msger_input{
    font-size: 12px;
    width:auto;
}


/* 또는 다른 스크롤 가능한 요소에도 적용 가능 */
.scrollable-element {
    overflow: hidden;
}